:root
{
  --font-family-body: Verdana, Helvetica, sans-serif;
  --font-family-heading: "Times New Roman", Times, serif;
  --sidebar-color-background: #262626;
  --sidebar-color-contrast: #333333;
  --sidebar-color-foreground: #FFFFFF;
}

body
{
  font-family: var(--font-family-body);
  font-size: 0.8em;
}

a
{
  text-decoration: none;
}

div#page
{
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar navigation"
    "sidebar main"
    "footer main";
  grid-template-rows: 4em max-content 1fr max-content;
  grid-template-columns: minmax(20em, max-content) 1fr;
  width: 100%;
}

header
{
  background-color: aqua;
  grid-area: header;
}

footer
{
  background-color: azure;
  grid-area: footer;
}

nav#navigation
{
  background-color: beige;
  grid-area: navigation;
}

main
{
  background-color: wheat;
  grid-area: main;
}


nav#navigation ul
{
  display: flex;
  gap: 2em;
  padding: 0;
}

nav#navigation li
{
  list-style: none;
}


nav#sidebar
{
  grid-area: sidebar;
  background-color: var(--sidebar-color-background);
  color: var(--sidebar-color-foreground);
  padding: 0.5em;
}

nav#sidebar > ul
{
  padding: 0;
}

nav#sidebar > ul > li > span.group-heading
{
  color: var(--sidebar-color-foreground);
  font-family: var(--font-family-heading);
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--sidebar-color-contrast);
  display: block;
  margin-top: 0.5em;
  margin-bottom: 2px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

nav#sidebar > ul > li
{
  list-style: none;
}

nav#sidebar > ul > li > ul
{
  border-color: var(--sidebar-color-contrast);
  border-style: solid;
  border-width: 2px;
  padding: 0.25em;
}

nav#sidebar > ul > li > ul > li
{
  list-style: square inside;
  color: #999999;
  padding: 0.25em;
}

nav#sidebar > ul > li > ul > li:hover
{
  background-color: var(--sidebar-color-contrast);
}

nav#sidebar > ul > li > ul > li a
{
  color: var(--sidebar-color-foreground);
  display: inline-block;
  width: calc(100% - 1.5em);
}

nav#sidebar > ul > li > ul > li:hover a
{
  color: #999999;
}