div#page
{
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar navigation"
    "sidebar main"
    "footer main";
  grid-template-rows: 4em max-content 1fr max-content;
  grid-template-columns: 20% 1fr;
  width: 100%;
}

header
{
  background-color: aqua;
  grid-area: header;
}

footer
{
  background-color: azure;
  grid-area: footer;
}

nav#navigation
{
  background-color: beige;
  grid-area: navigation;
}

nav#sidebar
{
  background-color: whitesmoke;
  grid-area: sidebar;
}

main
{
  background-color: wheat;
  grid-area: main;
}